# Игнорировать сборочные директории
.next/
build/
dist/
out/

# Игнорировать сгенерированные файлы
**/*.d.ts
**/generated/**

# Игнорировать зависимости
node_modules/

# Игнорировать кеш и временные файлы
.cache/
.turbo/

# Игнорировать визуальные тесты
**/*.screenshot.png
**/*.screenshot.jpg

# Другие файлы, которые не нужно проверять
*.min.js
coverage/ 